[Unit]
Description=Unicorn application server
After=network.target

[Service]
User=http
Group=http
ExecStart=/usr/bin/unicorn -E production -c /etc/unicorn/redmine.ru

[Install]
WantedBy=multi-user.target

